extends layout

block content
    h1  #{title}

    p #[strong 选题编号:] #{project_detail.get('id')}
    p #[strong 选题名称:] #{project_detail.get('p_name')}
    p #[strong 选题说明:] #{project_detail.get('p_info')}
    p #[strong 选题最大人数:] #{project_detail.get('max_snum')}
    p #[strong 选题限选人数:] #{project_detail.get('limit_num')}
    p #[strong 指导教师:] #{teacher_detail.get('name')}
    //p #[strong Genre:]&nbsp;
    //    each val, index in book.genre
    //        a(href=val.url) #{val.name}
    //        if index < book.genre.length - 1
    //            |,
    //
    //div(style='margin-left:20px;margin-top:20px')
    //    h4 Copies
    //
    //    each val in book_instances
    //        hr
    //        if val.status=='Available'
    //            p.text-success #{val.status}
    //        else if val.status=='Maintenance'
    //            p.text-danger #{val.status}
    //        else
    //            p.text-warning #{val.status}
    //        p #[strong Imprint:] #{val.imprint}
    //        if val.status!='Available'
    //            p #[strong Due back:] #{val.due_back}
    //        p #[strong Id:]&nbsp;
    //            a(href=val.url) #{val._id}
    //
    //    else
    //        p There are no copies of this book in the library.